:root {
  //品牌色
  --vb-brand: rgb(58, 185, 212);
  --vb-brand-hovering: rgb(58, 185, 212);
  --vb-brand-dragging: rgba(24, 144, 255, 0.26);
  --vb-brand-dropping: #2082a6;
  --vb-brand-moving: rgba(70, 140, 206, 0.5);
  //白色调色版
  --vb-white: #fff;
  --vb-white-gray: #d9d9d9;
  --vb-white-gray-light: #eee;
  --vb-white-gray-lighter: #f0f0f0;
  --vb-white-gray-dark: #aaa;
  //灰色调色板rgb(85, 104, 124)
  --vb-gray: #333;
  --vb-gray-light: #444;
  --vb-gray-lighter: #666;
  --vb-gray-dark: #222;
  --vb-black: #1a1a1a;
}